html,
#root {
  max-width: 100%;
  margin: 0;
}

body {
  background-color: #fbf1dc;
  font-family: Arial, Helvetica, sans-serif;
  color: 	#2C2C2C;
  margin: 0;
}

header {
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  position: relative;
  max-height: 20vh;
  box-shadow: 0 4px 12px rgba(212, 175, 55, 0.3);

}

p,
h2 {
  margin: 0;
}

.full-width {
  width: 100%;
  display: flex;
  justify-content: center;
}

.overlay-text {
  position: absolute;
  color: #2C2C2C;
  font-size: clamp(2rem, 6vw, 5rem);
  font-family: "Bebas Neue", sans-serif;
  text-align: center;
  text-shadow: 2px 2px 5px rgba(212, 175, 55, 0.438);
}

.postContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .post {
    cursor: pointer;
  }
}

.post {
  display: flex;
  flex-direction: column;
  border: 1px solid #D6D0C4;
  border-radius: 5px;
  box-shadow: 0 4px 12px rgba(212, 175, 55, 0.3);
  height: fit-content;
  gap: 10px;
  margin: 10px;
  padding: 10px;
  width: 70%;
  background-color: #f7e3be;
  white-space: pre-wrap;
}

.textField {
  background-color: #fbf1dc;
  white-space: pre-wrap;
}
